@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{
  margin :0;
  padding :0;
  box-sizing: border-box;
  font-family: 'Alata', sans-serif;
}
.navbar{
  background-color:transparent !important; 

}
.navbar-brand{
  font-size: 1.5rem !important;
  color :#565387 !important;
}
.navbar a{
  font-size: 0.75rem;
  text-transform: capitalize;
}
.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387 !important;
}

.navbar a.hover{
  color: #3498db !important;
}

@media (max-width: 991px){
  .navbar-brand{
    font-size:1.5rem !important;
  }
  .menu_active{
    font-weight: bold;
    border-bottom: none;
  }
}
.brand-name{
  color: #3498db;
}
.btn-get-started{
  position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: rgb(143, 43, 43);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #ffff);
}
.btn-get-started:hover
{
  color: #3498db;
  background: #2b2727;
  box-shadow: 0 0 10px #ffffff, 0 0 40px #4d6b83, 0 0 80px #52697c;
  transition-delay: 0.5s;
}
.btn-get-started span
{
    position: absolute;
    display: block;
}
 .btn-get-started span:nth-child(1)
 {
     top: 0%;
     left:  -100%;
     width: 100%;
     height: 3px;
     background: linear-gradient(90deg,transparent,#2196f3);
 }
 .btn-get-started:hover span:nth-child(1)
 {
    left: 100%;
    transition: 1s;
 }
  .btn-get-started span:nth-child(3)
 {
     bottom: 0;
     right: -100%;
     width: 100%;
     height: 3px;
     background: linear-gradient(270deg,transparent,#2196f3);
 }
 .btn-get-started:hover span:nth-child(3)
 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
 }
 .btn-get-started span:nth-child(2)
 {
     top: -100%;
     right: 0;
     width: 3px;
     height: 100%;
     background: linear-gradient(180deg,transparent,#2196f3);
 }
 .btn-get-started:hover span:nth-child(2)
 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
 } 
 .btn-get-started span:nth-child(4)    
 {
     bottom: -100%;
     left: 0;
     width: 3px;
     height: 100%;
     background: linear-gradient(360deg,transparent,#2196f3);
 }
 .btn-get-started:hover span:nth-child(4)
 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
 } 
 
 img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
#header {
width : 100%;
height:100vh;
}
#header h1{
  width: 0 0 10px 0;
  font-size: 46px;
  font-weight: 700;
  color: black;
  line-height: 40px;
}
#header h2{
  width: 0 0 10px 0;
  font-size: 44px;
  font-weight: 700;
  color: rgb(22, 60, 83);
}
.header-img{
  text-align: right ;
}
.new{
  background-color: black;
  color: #ffffff;
  border-radius: 30px;
  width: 60% !important;
}
.footer-distributed{
	background: black;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
.footer {
  background: black;
}
.footer:before {
  background:
    linear-gradient(
      45deg, transparent 33.333%,
      black 33.333%, black 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      black 33.333%, black 66.667%,
      transparent 66.667%
    );
  background-size: 20px 40px;
  margin-left: -50px;
}
.zigzag {
  position: relative;
  width: 100%;
  height:auto;
}
.zigzag:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
}
/* @media only screen and (max-width: 600px) {
  footer {
    margin-top:0%;
  }
} */
